**/node_modules
**/dist
**/.git
**/.idea
**/.vscode
**/*.log
**/.env
**/.env.local
**/.env.*.local
**/coverage
**/test
**/*.spec.ts
apps/iam-admin/node_modules
apps/iam-admin/dist
apps/iam-admin/pnpm-workspace.yaml
