# dependencies
/node_modules

# build
/dist
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env (keep .env.example, ignore real secrets in prod)
.env.local
.env.*.local

# editor / os
.idea
.DS_Store
.vscode/*
!.vscode/extensions.json

# test
/coverage
